<!DOCTYPE html>
<html th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="https://thymeleaf.org">
<title>Amazonia: Listado de productos</title>

<main class="d-flex justify-content-center">
	<div class="card mb-3" th:object="${producto}">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="https://prd.place/600/800" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title" th:text="*{nombre}">Portátil</h5>
					<p class="card-text" th:text="*{descripcion}">El mejor portátil del mundo</p>
					<div class="card-text" th:text="*{caracteristicas}">
						CARACTERISTICAS:
						
						<ul>
							<li>Pantalla superbrillante (TM)</li>
						</ul>
						
					</div>
					<p class="card-text text-end">
						<small class="text-body-secondary fw-bold" th:text="${#numbers.formatCurrency(producto.precio)}">1.234 €</small>
					</p>
					<p class="card-text text-end">
						<a class="btn btn-primary" href="index.html" th:href="@{/carrito(id=${producto.id})}">Añadir al carrito</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>

</html>
