<!DOCTYPE html>
<html th:replace="~{_global :: global(~{::title}, ~{::main})}"
	xmlns:th="https://thymeleaf.org">
<title>Amazonia: Listado de productos</title>

<main class="d-flex justify-content-center">
	<form th:action="@{/login}" method="post">
		<div th:replace="_fragmentos :: labelInput('Email', 'username', false, 'email')"></div>
		<div th:replace="_fragmentos :: labelInput('Contraseña', 'password', false, 'password')"></div>
		
		<div class="row mb-3">
			<div class="offset-sm-3 col-sm">
				<button type="submit" class="btn btn-primary">Iniciar
					sesión</button>
			</div>
		</div>
	</form>
</main>

</html>
